@import '../vars.scss';

.home {
  background-color: $c-main;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;

	&-wrapper {
		border: 1px solid $c-white;
		border-radius: $b-r-medium;
		width: 100%;
		max-width: 1400px;
		height: 100%;
		max-height: 800px;
		display: flex;
		overflow: hidden;
	}
}
