@import '../vars.scss';

.navbar {
  display: flex;
  flex-direction: column;
  background-color: $c-darkest-purple;
  padding: 9px 15px 0 15px;
  @include tablet {
    padding-top: 0;
  }

  .logo {
    font-size: $f-big;
    margin-bottom: 8px;
    @include tablet {
      display: none;
    }
  }

  .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    position: relative;

    a {
      display: flex;
      align-items: center;
      gap: 8px;
      color: $c-white;
    }

    &::before {
      position: absolute;
      content: '';
      left: -15px;
      right: 0;
      top: 0;
      width: calc(100% + 30px);
      height: 1px;
      background-color: $c-white;
      @include tablet {
        display: none;
      }
    }

    img {
      width: 55px;
      border-radius: 50px;
      object-fit: cover;
    }

    span {
      font-size: $f-medium;
      font-weight: 700;
    }

    button {
      padding: 4px 10px 5px 10px;
      font-weight: 700;
      background-color: $c-s-blue;
      border-radius: $b-r-small;
      transition: $def-transition;

      &:hover {
        background-color: $c-h-blue;
      }
    }
  }
}
