@import '../vars.scss';

.search {
  border-bottom: 1px solid $c-grey;
  &__form {
    &-input {
      padding: 12px 15px;
      width: 100%;
      transition: $def-transition;

      &::placeholder {
        color: $c-grey;
      }

      &:focus {
        border-color: $c-white;
      }
    }
  }
}
